@media only screen and (max-width: 750px){
    #menu{
        display: block;
        margin: 0 auto;
    }

    #menu::before {
        content: "☰";
    }
    
    #menu.show::before {
        content: "X";
    }
    
    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: white;
    }
    
    .navshow{
        display:grid;
        grid-template-rows: 0fr;
    }

    .navshow ul li{
        margin: 1rem;
    }

    .navshow ul{
        display:grid;
        text-align: center;
        overflow: hidden;
    }

    .navshow.show{
       grid-template-rows: 1fr;
        text-align: center;
        transition: grid-template-rows 0.5s ease-out;
    }

    .g2, .g1{
        grid-column: 1/3;
    }

    section img{
        max-width:85%;
        height: auto;
    }

    section{
        border-radius: 1rem;
        filter: drop-shadow(0px 0px 0px black);
    }

    #courses{
        grid-template-columns: 1fr;
    }

    #courses div{
        grid-column: 1/2;
        display: block;
        margin: 0.5rem;
    }

    .filternav a{
        padding: 1rem;
        width: 30%;
        margin: 0.5rem;
    }
}

